body{
    background-color: #F5F5F5 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerform {
    background-color: #ffffff !important;
    padding: 20px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
}